:root {
    --backgroundColor: #F2F5F5;
    --buttonColor: #4E2059;
}

* {
    margin: 15px;
}

/* setting background color for the whole page, universal fonts */
body {
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    font-family: Cambria, Helvetica, sans-serif;
}

/* generally setting display: flex on column and center for all css classes */
header {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    margin-bottom: 0;
}

.subHeader {
    display: inline-flex;
    flex-wrap: wrap;
    font-weight: bold;
    justify-items: center;
    justify-content: space-between;
}

/* This first page styles the start quiz button and intro sumamry text */
.firstPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* this styles the questions text and options buttons */
.quizPages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* this styles the results page where we see our score and can input our name+score */
.finalScorePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* This adds the grey border separating the buttons options from answer
response output (correct/wrong) */
.resultDiv {
    border-top: 3px solid #636263;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 120%;
}

#answerResult {
    text-align: center;
}

/* adding color to buttons, rounding the corners, button text color... */
button{
    background-color: var(--buttonColor);
    padding: 8px;
    font-size: 100%;
    border-radius: 10px;
    border: var(--buttonColor);
    color: white;
    min-width: 80px;
    flex-grow: 1;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* adjusting the size of the option buttons when screen size is smaller */
@media screen and (max-width:700px){
    .buttons {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Adding effect to button when hovering to help indicate which button we're picking */
button:hover {
    opacity: 80%;
}

#questionText {
    font-size: 120%;
    text-align: center;
}

input {
    font-size: 18px;
    margin-right: 0;
}

.highscoreResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highscoreButtons {
    display: inline-flex;
    justify-items: center;
}

/* styles the displayed name+score on the highscore.html page in a grey box 
with some styling */
#nameHighscore {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    background-color: #C9C5C9;
    min-width: 20%;
}

